/*hier style*/

div {
    background-color: aquamarine;
    min-width: 100px;
    min-height: 30px;
    margin-bottom: 50px;

}

ul {
    font-family: fantasy;
    size: 10pt;
    min-width: 100px;
    min-height: 30px;
    margin-bottom: 50px;
}

/* Stil für die Punkte */
.point {
    border: ;
    background-color:beige;
    text-align: left;
    cursor: pointer;
}
/* Stil für ausgewählte Punkte */
.point.selected {
    background-color: red;
}