/* aufgaben.css */

#plus-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1c6e2f;
    color: white;
    font-size: 50px;
    border: none;
    cursor: pointer;
  }
  
  #task-list {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
  }
  
  #aufgabe-button {
    color: #333;
    text-decoration: none;
    background-color: white;
    border: none;
  }

  .popup { 
    border-radius: 4%; 
  }

  .Button{
    color: #333;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    width: 130px;
    height:30px;
  }

  