/* calendar.css */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.calendar {
  font-family: 'Ubuntu', sans-serif;
  margin: auto; 
  margin-top: 50px;
  padding: 20px;
  max-width:800px; 
  color: #292f36;
}

.arrow-button {
  margin: 0 5px; 
  padding: 10px 20px; 
  border: none;
  background: none;
  font-size: 24px; 
  cursor: pointer;
  color: #707070;
  font-weight: bolder;
}

#month-year {
  font-size: 30px; 
  text-align: center;
}

.weekdays {
  display: flex;
  justify-content: space-between; 
  padding: 10px 0; 
}

.weekday {
  flex: 1; 
  text-align: center; 
  font-size: 25px;
  font-weight: bold;
}

.calendar-day {
    display: inline-block; 
    width: 95px; 
    height: 55px; 
    border: 1px solid white; 
    border-radius: 10%; 
    margin: 5px; 
    text-align: left; 
    font-size: 30px;
    font-weight: bold;
    line-height: 35px; 
    background-color: white; 
}
  
.calendar-day.empty {
    width: 95px;
    height: 30px; 
    border: none; 
    margin: 5px; 
    background-color: #f1ebeb;
}

#calendar-body {
  width: 100%;
  border-collapse: collapse;

}

#all-weeks {
  background-color: #f1ebeb;
  border: 1px solid white; 
  border-radius: 4%;
  margin-bottom: 10px;
}

#logo-image {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 10%; 
  height: auto;
}

#slogan {
  position: fixed;
  font-size:20px;
  bottom: 0px;
  left: 50px;
  font-weight: bold;
}

.hintergrund {
  font-family: 'Ubuntu', sans-serif; 
  color: #292f36;
}

#aufgaben {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrund halb transparent */
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 700px;
  height: 500px;
}

.modal-content {
  text-align: left;
  font-size: 20px;;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: x-large;
}

.tip-button{
  background-color: #1c6e2f;
  border-radius: 25px;
  width: 60px;
  height: 30px;
  border:none;
}

#tip-image {
  width: 50%; 
}

.edit-button{
  background-color: #1c6e2f;
  color: white;
  border-radius: 25px;
  width: 70px;
  height: 30px;
  border:none;
  
}

.delete-button{
  border-radius: 25px;
  border-color: #1c6e2f;
  border-style: solid;
  width: 70px;
  height: 30px;
}
 
.spalte {
  width: calc(100% / 2); 
}


#task-list {
  background-color: white;
  border:none;
  list-style-type: none;
}