
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.hintergrund {
background-color: #ffffff;
}

.logo-image {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 10%; 
    height: auto;
  }

.slogan {
    position: fixed;
    font-size:20px;
    bottom: 0px;
    left: 50px;
    font-weight: bold;
  }

.user-image {
    position: fixed;
    top: 51px;
    right: 51px;
    width: 1.4%; 
    height: auto;
  }

.user-image:hover {
    opacity: 0.6;
}
.logout-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 2%; 
    height: auto;
  }

.grauerKreis {
    position: fixed;
    width: 70px;             
    height: 70px; 
    top: 30px;
    right: 30px;           
    background-color: #F1EBEB;  
    border-radius: 50%;       
}

.grauerKreis:hover {
    background-color: #1C6E2F;
}

.grünesRechteckKalender {
    background-color: #1C6E2F;
    position: fixed;
    top: 360px; 
    left: 380px;
    right:auto;
    bottom:auto;
    width: 400px;            
    height: 160px;           
    border-radius: 20px;     
}
.grünesRechteckKalender:hover {
    background-color: #292F36;
}

.grünesRechteckKalenderText {

    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    top: 430px; 
    left: 300px;
    margin: auto;              
}

.grünesRechteckToDos {
    background-color: #3FBF5C;
    position: fixed; 
    top: 540px; 
    left: 380px;
    width: 400px;            
    height: 160px;           
    border-radius: 20px;     
}

.grünesRechteckToDos:hover {
    background-color: #292F36;
}


.grünesRechteckRangliste {
    background-color: #289842;
    position: fixed; 
    top: 360px; 
    left: 800px;
    width: 160px;            
    height: 340px;           
    border-radius: 20px;     
}

.grünesRechteckRangliste:hover {
    background-color: #292F36;
}

.grünesRechteckWGs {
    background-color: #3FBF5C;
    position: fixed;
    top: 360px; 
    left: 980px;
    width: 200px;            
    height: 160px;           
    border-radius: 20px;     
}

.grünesRechteckWGs:hover {
    background-color: #292F36;
}

.grünesRechteckEinstellungen {
    background-color: #289842;
    position: fixed;
    top: 360px; 
    left: 1200px;
    width: 300px;            
    height: 160px;           
    border-radius: 20px;     
}

.grünesRechteckEinstellungen:hover {
    background-color: #292F36;
}

.grünesRechteckEinkaufsliste {
    background-color: #1C6E2F;
    position: fixed;
    top: 540px; 
    left: 980px;
    width: 520px;            
    height: 160px;           
    border-radius: 20px;     
}

.grünesRechteckEinkaufsliste:hover {
    background-color: #292F36;
}

.h2 {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-size: 50px ;
    font-weight: bold;
    color: #292F36;
    top: 200px; 
    left: 250px;
    text-align: center;
    margin: auto; 
}
.h2-variable {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-size: 50px ;
    font-weight: bold;
    color: #292F36;
    top: 200px; 
    left: 250px;
    text-align: center;
    margin: auto; 
}
.flex-container {
    display: flex;
            flex-wrap: wrap; 
}

.flex-item { 
    flex: 1 1 200px; /* Flex-Wachstumsfaktor, Flex-Schrumpffaktor, Basisgröße */
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}