
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.hintergrund {
background-color: #ffffff;
}

.logo-image {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 10%; 
    height: auto;
    flex: 1;
  }

.logo-image:hover {
    opacity: 0.6;
}

.slogan {
    position: fixed;
    font-size:1.5vw;
    bottom: 0px;
    left: 50px;
    font-weight: bold;
  }

.logout-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    flex:0.8;
    width: 2vw;
  }

.logout-image:hover {
    opacity: 0.6;
}

.flexbox-grauerKreis {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    width: 4vw;             
    height: 4vw;           
    background-color: #F1EBEB;  
    border-radius: 50%;  
    flex: 0.3;
    overflow: hidden; 
    align-items: center;
    justify-content: center;  
}

.flexbox-grauerKreis:hover {
    opacity: 0.6;
}

.flex-item-user-image {
    display: flex;
    width: 2vw;
    flex:0.3;
  }

.flex-item-user-image:hover {
    opacity: 0.6;
}

.grauerKreis:hover {
    background-color: #1C6E2F;
}

.flex-item-Kalender {
    background-color: #1C6E2F;
    display: flex;
    margin-top: auto;           
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1;
    flex-direction: column; 
}
.flex-item-Kalender:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}

.calendar-image {
    margin-top: 90px;
    width: 40%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-KalenderText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-bottom: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center;  
    order: 2;          
}



.flex-item-ToDos {
    background-color: #218037;
    display: flex;
    margin-top: auto;          
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1;
    flex-direction: column;  
}

.flex-item-ToDos:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}

.checklist-image {
    margin-top: 90px;
    width: 45%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-ToDosText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-bottom: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center;
    order: 2;            
}

.flex-item-Rangliste {
    background-color: #258f3e;
    display: flex;
    margin-top: auto;          
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1; 
    flex-direction: column;   
}

.flex-item-Rangliste:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}

.ranking-image {
    margin-top: 90px;
    width: 45%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-RanglisteText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-top: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center;
    order:2;            
}

.flex-item-WGs {
    background-color: #2ba247;
    display: flex;
    margin-top: auto;           
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1;
    flex-direction: column;     
}

.flex-item-WGs:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}

.wgs-image {
    margin-top: 90px;
    width: 45%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-WGsText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-top: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center; 
    order:2;           
}

.flex-item-Einstellungen {
    background-color: #31b550;
    display: flex;
    margin-top: auto;           
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1; 
    flex-direction: column;       
}


.flex-item-Einstellungen:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}

.einstellungen-image {
    margin-top: 90px;
    width: 45%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-EinstellungenText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-top: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center; 
    order: 2;           
}

.flex-item-Einkaufsliste {
    background-color: #38cb5a;
    display: flex;
    margin-top: auto;           
    height: 100%;           
    border-radius: 20px;   
    align-items: center; 
    flex: 1; 
    flex-direction: column;      
}

.flex-item-Einkaufsliste:hover {
    background-color: #292F36;
    flex: 1.5;
    transition: flex 0.6s;
}


.einkaufsliste-image {
    margin-top: 90px;
    width: 45%; 
    height: auto;
    align-content: center;
    order: 1;
  }

.flex-item-EinkaufslisteText {

    font-family: 'Ubuntu', sans-serif;
    padding-left: auto;
    padding-top: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    margin: auto; 
    text-align: center;
    order: 2;            
}

.h2 {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-size: 3vw;
    font-weight: bold;
    color: #292F36;
    top: 200px; 
    margin-left: 450px;
    text-align: center;
    margin: auto; 
}

.outer-flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 80vh;       
    width: 100vw;       
    background-color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
    margin-top: 150px;
    height: 40vh;         
    width: 80vw;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);  
    flex-direction: row; 
    overflow: hidden;
}
