.hintergrund {
  background-color: #ffffff;
}

.logo-image {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 10%;
  height: auto;
  flex: 1;
}

.logo-image:hover {
  opacity: 0.6;
}

.slogan {
  position: fixed;
  font-size: 1.5vw;
  bottom: 0px;
  left: 50px;
  font-weight: bold;
}

.h2 {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  font-size: 3vw;
  font-weight: bold;
  color: #292F36;
  top: 200px;
  margin-left: 450px;
  text-align: center;
  margin: auto;
}

.outer-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
}

.form-group {
  margin-bottom: 10px;
  width: 15vw;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px 0;
  margin-top: 15px;
  border: 1px solid #f1f1f1;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 250px;
}

input::placeholder {
  color: #7c7c7c;
}

button {
  padding: 8px;
  margin: 5px 0;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.login-button {
  background-color: #1c6e2f;
  border: none;
}

.login-button:hover {
  background-color: #292F36;
}

.register-button {
  background-color: #2ba247;
  width: 100%;
  border: none;
}

.register-button:hover {
  background-color: #292F36;
}

.login-container {
  max-width: 400px;
  margin-top: 200px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
