@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.hintergrund {
  background-color: #ffffff;
}

.logo-image {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 10%;
  height: auto;
  flex: 1;
}

.logo-image:hover {
  opacity: 0.6;
}

.slogan {
  position: fixed;
  font-size: 1.5vw;
  bottom: 0px;
  left: 50px;
  font-weight: bold;
}

.h2 {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  font-size: 3vw;
  font-weight: bold;
  color: #292F36;
  top: 200px;
  margin-left: 450px;
  text-align: center;
  margin: auto;
}

.outer-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}

.notification-toggle-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.notification-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: #292F36;
  margin-top: 27px;
  margin-right: 50px;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #E4E4E4;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 220px;
}

.toggle-switch.enabled {
  background-color: #3FBF5C;
}

.toggle-switch .toggle-knob {
  width: 30px;
  height: 30px;
  background-color: #707070;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s, background-color 0.3s;
}

.toggle-switch .toggle-knob.enabled {
  left: 30px;
  background-color: #1C6E2F;
}

.logout-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  flex:0.8;
  width: 2vw;
}

.logout-image:hover {
  opacity: 0.6;
}

.flexbox-grauerKreis2 {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 150px;
  width: 4vw;             
  height: 4vw;           
  background-color: #F1EBEB;  
  border-radius: 50%;  
  flex: 0.3;
  overflow: hidden; 
  align-items: center;
  justify-content: center;  
}

.flexbox-grauerKreis2:hover {
  opacity: 0.6;
}

.flex-item-user-image2 {
  display: flex;
  width: 2vw;
  flex:0.3;
}

.flex-item-user-image2:hover {
  opacity: 0.6;
}