.hintergrund {
  background-color: #ffffff;
}

.logo-image {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 10%;
  height: auto;
  flex: 1;
}

.logo-image:hover {
  opacity: 0.6;
}

.slogan {
  position: fixed;
  font-size: 1.5vw;
  bottom: 0px;
  left: 50px;
  font-weight: bold;
}

.h2 {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  font-size: 3vw;
  font-weight: bold;
  color: #292F36;
  top: 200px;
  margin-left: 450px;
  text-align: center;
  margin: auto;
}

.outer-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
}

.user-info {
  text-align: center;
  margin-top: 20px;
}

.profile-picture {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1c6e2f;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width:10vw;
}

.edit-button:hover {
  background-color: #292F36;
}

.logout-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  flex:0.8;
  width: 2vw;
}

.logout-image:hover {
  opacity: 0.6;
}